
div.tree a.show, div.tree a.hide { display: none; }

.hide {
    display: none;
}

/*div.tree button {
    border-width: 2px;
}*/

.expander {
  border-width: 0px;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px;
  cursor: pointer;
  background-color: #dde
}